<!DOCTYPE html>
<html lang="en">
{% load static %}
{% load humanize %}
    <head>
        <!-- Basic page needs
            ============================================ -->
        <title>BestShop - Multipurpose Responsive HTML5 Template</title>
        <meta charset="utf-8">
        <meta name="author" content="EL KHAOUA Karim">
        <meta name="robots" content="index, follow" />
        <!-- Mobile specific metas
            ============================================ -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <!-- Favicon
            ============================================ -->
        <link rel="shortcut icon" type="image/png" href=""/><!-- !!!!!!!!!! static -->
        <style type="text/css">
            #checks span.glyphicon {
                opacity: 0;
            }
            #checks.active span.glyphicon {
                opacity: 1;
            }
        </style>
        <link rel="shortcut icon" type="image/png" href="{% static 'ecommerce/image/icon/Flash.ico' %}"/>
        <!-- Libs CSS
            ============================================ -->
        <link rel="stylesheet" href="{% static 'ecommerce/css/bootstrap/css/bootstrap.min.css' %}">
        <link href="{% static 'ecommerce/css/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
        <link href="{% static 'ecommerce/js/datetimepicker/bootstrap-datetimepicker.min.css' %}" rel="stylesheet">
        <link href="{% static 'ecommerce/js/owl-carousel/owl.carousel.css' %}" rel="stylesheet">
        <link href="{% static 'ecommerce/css/themecss/lib.css' %}" rel="stylesheet">
        <link href="{% static 'ecommerce/js/jquery-ui/jquery-ui.min.css' %}" rel="stylesheet">
        <link href="{% static 'ecommerce/js/minicolors/miniColors.css' %}" rel="stylesheet">
        <!-- Theme CSS
            ============================================ -->
        <link href="{% static 'ecommerce/css/themecss/so_searchpro.css' %}" rel="stylesheet">
        <link href="{% static 'ecommerce/css/themecss/so_megamenu.css' %}" rel="stylesheet">
        <link href="{% static 'ecommerce/css/themecss/so-categories.css' %}" rel="stylesheet">
        <link href="{% static 'ecommerce/css/themecss/so-listing-tabs.css' %}" rel="stylesheet">
        <link href="{% static 'ecommerce/css/themecss/so-newletter-popup.css' %}" rel="stylesheet">
        <link href="{% static 'ecommerce/css/footer/footer4.css' %}" rel="stylesheet">
        <link href="{% static 'ecommerce/css/header/header4.css' %}" rel="stylesheet">
        <link id="color_scheme" href="{% static 'ecommerce/css/theme.css' %}" rel="stylesheet">
        <link href="{% static 'ecommerce/css/responsive.css' %}" rel="stylesheet">
        <!-- Google web fonts
            ============================================ -->
        <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,600,700' rel='stylesheet' type='text/css'>
        <style type="text/css">
            body{font-family: 'Roboto', sans-serif;}
        </style>
    </head>
    <body class="common-home res layout-4">
        <div id="wrapper" class="wrapper-fluid banners-effect-5">
            <!-- Header Container  -->
            <header id="header" class=" typeheader-4">
                <!-- Header Top -->
                <div class="header-top hidden-compact">
                    <div class="container">
                        <div class="row">
                            <div class="header-top-right collapsed-block col-lg-12 col-md-8 col-sm-6 col-xs-5">
                                <ul class="top-link list-inline">
                                    <li class="account" id="my_account">
                                        {% if user.is_authenticated %}
                                            <a href="{% url 'e_commerce:my_account' %}" title="My Account " class="btn-xs"> <span>{{ user.last_name.upper }} {{ user.first_name.capitalize }}</span></a>
                                        {% else %}
                                        <a href="#" title="My Account" class="btn-xs dropdown-toggle" data-toggle="dropdown"> <span>My Account </span>  <span class="fa fa-caret-down"></span></a>
                                        <ul class="dropdown-menu " >
                                            <li><a href="#">Register</a>
                                            </li>
                                            <li><a href="#">Login</a>
                                            </li>
                                        </ul>
                                        {% endif %}
                                    </li>
                                    <li class="wishlist hidden-sm hidden-xs">
                                        <a id="number_in_wish_list" href="{% url 'e_commerce:wish_list' %}" id="wishlist-total" class="top-link-wishlist" title="Wish List ({{ number_items_wish_list }}) ">
                                            Wish List ({{ number_items_wish_list }})
                                        </a>
                                    </li>
                                    <li class="hidden-sm hidden-xs compare">

                                        <a id="number_in_compare" href="{% url 'e_commerce:compare' %}" class="top-link-compare" title="Compare ({{ number_items_compare }}) ">
                                        <i class="fa fa-refresh"></i>Compare ({{ number_items_compare }})
                                        </a>
                                    </li>
                                    <li class="checkout hidden-sm hidden-xs"><a href="{% url 'e_commerce:checkout' %}" class="btn-link" title="Checkout "><span ><i class="fa fa-check-square-o"></i>Checkout </span></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- //Header Top -->

                <!-- Header center -->
                <div class="header-middle">
                    <div class="container">
                        <div class="row">
                            <!-- Logo -->
                            <div class="navbar-logo col-lg-2 col-md-3 col-sm-12 col-xs-12">
                                <div class="logo"><a href="{% url 'e_commerce:index' %}"><img height="44px" width="155px" src="{% static 'ecommerce/image/icon/estc_logo.png' %}" title="Your Store" alt="Your Store" /></a></div>
                            </div>
                            <!-- //end Logo -->
                            <!-- Search -->
                            <div class="middle2 col-lg-7 col-md-6 col-sm-6 col-xs-12">
                                <div class="search-header-w">
                                    <div id="sosearchpro" class="sosearchpro-wrapper so-search ">
                                        <form method="Post" action="{% url 'e_commerce:search' %}">
                                            {% csrf_token %}
                                            <input name="filter" type="hidden" value="true" />
                                            <div id="search0" class="search input-group form-group">
                                                <div class="select_category filter_type  icon-select hidden-sm hidden-xs">
                                                    <label for="select_categories"></label>
                                                    <select class="no-border" name="category_id" id="select_categories">
                                                        <option value="0">All Categories</option>
                                                        {% for category in categories %}
                                                            <option value="{{ category.pk }}">{{ category.name }}</option>
                                                            {% for sous in category.commercescategory_set.all %}
                                                                <option value="-{{ sous.pk }}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ sous.name }}</option>
                                                            {% endfor %}
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                                <input class="autosearch-input form-control" type="text" size="50" placeholder="Search product..." name="word" required="required">
                                                <span class="input-group-btn">
                                                <button type="submit" class="button-search btn btn-primary" name="submit_search"><i class="fa fa-search"></i></button>
                                                </span>
                                            </div>
                                            <!-- <input type="hidden" name="route" value="product/search" /> -->
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <!-- //end Search -->
                            <div class="middle3 col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                <!--cart-->
                                <div class="shopping_cart">
                                    <div id="cart" class="btn-shopping-cart">
                                        <a href="#" data-loading-text="Loading... " class="btn-group top_cart dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
                                            <div class="shopcart">
                                                <span class="icon-c">
                                                </span>
                                                <div class="shopcart-inner">
                                                    <p class="text-shopping-cart">
                                                        {% if total_price_in_cart == 0 %}
                                                            <br/>
                                                        {% endif %}
                                                        My cart
                                                    </p>
                                                    <span class="total-shopping-cart cart-total-full">
                                                        {% if not total_price_in_cart == 0 %}<span class="items_cart">02</span><span class="items_cart2" id="total_cart_2">${{ total_price_in_cart|intcomma }}</span>{% endif %}
                                                        <span id="number_in_cart" class="items_cart">{{ number_products_in_cart }}</span>
                                                    </span>
                                                </div>
                                            </div>
                                        </a>
                                        {% if cart %}
                                            <ul class="dropdown-menu pull-right shoppingcart-box" role="menu">
                                                <li>
                                                    <table class="table table-striped">
                                                        <tbody id="table_cart">
                                                            {% for el in cart %}
                                                            <tr id="line{{ el.product.pk }}">
                                                                <td class="text-center" style="width:70px">
                                                                    <a href="{% url 'e_commerce:product' el.product.pk %}">
                                                                    <img src="{{ el.product.image.url }}" style="width:70px;" alt="image {{ el.product.name }}" title="{{ el.product.name }}" class="preview">
                                                                    </a>
                                                                </td>
                                                                <td class="text-left"><a class="cart_product_name" href="{% url 'e_commerce:product' el.product.pk %}">{{ el.product.name }}</a></td>
                                                                <td class="text-center">x{{ el.quantity }}</td>
                                                                <td class="text-center">${{ el.total|intcomma }}</td>
                                                                <td class="text-right"><a href="#" class="fa fa-edit"></a></td>
                                                                <td class="text-right">
                                                                    <form id="formRemoveFromCart{{ el.product.pk }}" method="get" action="{% url 'e_commerce:remove_from_cart' %}" data-validate-url="{% url 'e_commerce:remove_from_cart' %}">
                                                                        <input type="hidden" name="cart" value="{{ el.pk }}">
                                                                    </form>
                                                                    <a href="javascript:" onclick="cart.remove('{{ el.product.pk }}', '{{ el.product.name }}', '{{ el.product.image.url }}', '{% url 'e_commerce:product' el.product.pk %}');" class="fa fa-times fa-delete"></a>
                                                                    <!--<form style="display: inline-block;" id="formCart{# forloop.counter #}" action="{# url 'e_commerce:remove_from_cart' #}" method="post">
                                                                        {# csrf_token #}
                                                                        <input type="hidden" name="next"     value="{# request.path #}" style="display: inline-block;">
                                                                        <input type="hidden" name="product"     value="{# el.product.pk #}" style="display: inline-block;">
                                                                        <input type="hidden" name="color"       value="{# el.color.pk #}" style="display: inline-block;">
                                                                        <a href="javascript:" onclick="document.getElementById('formCart{# forloop.counter #}').submit();" class="fa fa-times fa-delete"></a>
                                                                    </form>-->
                                                                </td>
                                                            </tr>
                                                            {% endfor %}
                                                        </tbody>
                                                    </table>
                                                </li>
                                                <li>
                                                    <div>
                                                        <table class="table table-bordered">
                                                            <tbody>
                                                                <tr>
                                                                    <td class="text-left"><strong>Total</strong>
                                                                    </td>
                                                                    <td class="text-right" id="total_cart_1">${{ total_price_in_cart|intcomma }}</td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                        <p class="text-right">
                                                            <a class="btn view-cart" href="{% url 'e_commerce:cart' %}"><i class="fa fa-shopping-cart"></i>View Cart</a>&nbsp;&nbsp;&nbsp;
                                                            <a class="btn btn-mega checkout-cart" href="{% url 'e_commerce:checkout' %}"><i class="fa fa-share"></i>Checkout</a>
                                                        </p>
                                                    </div>
                                                </li>
                                            </ul>
                                        {% endif %}
                                    </div>
                                </div>
                                <!--//cart-->
                                <!-- call -->
                                <div class="telephone  hidden-sm hidden-md">
                                    <span>Call Us Free:</span>
                                    <a>053-7629223</a>
                                </div>
                                <!-- //call -->
                            </div>
                        </div>
                    </div>
                </div>
                <!-- //Header center -->

                <!-- Header Bottom -->
                <div class="header-bottom hidden-compact">
                    <div class="container">
                        <div class="row">
                            <div class="bottom1 menu-vertical col-lg-2 col-md-3">
                                <!-- Secondary menu -->
                                <div class="responsive so-megamenu  megamenu-style-dev">
                                    <div class="so-vertical-menu ">
                                        <nav class="navbar-default">
                                            <div class="container-megamenu vertical">
                                                <div id="menuHeading">
                                                    <div class="megamenuToogle-wrapper">
                                                        <div class="megamenuToogle-pattern">
                                                            <div class="container">
                                                                <div>
                                                                    <a href="{% url 'e_commerce:products' %}"><span></span></a>
                                                                    <a href="{% url 'e_commerce:products' %}"><span></span></a>
                                                                    <a href="{% url 'e_commerce:products' %}"><span></span></a>
                                                                </div>
                                                                All Categories
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="navbar-header">
                                                    <button type="button" id="show-verticalmenu" data-toggle="collapse" class="navbar-toggle">
                                                    <i class="fa fa-bars"></i>
                                                    <span>  All Categories    </span>
                                                    </button>
                                                </div>
                                                <div class="vertical-wrapper" >
                                                    <span id="remove-verticalmenu" class="fa fa-times"></span>
                                                    <div class="megamenu-pattern">
                                                        <div class="container-mega">
                                                            <ul class="megamenu">
                            {#-------------------------------------------------- categories ------------------------------------------------#}
                                                                {% for category in categories %}
                                                                    {% if category.commercescategory_set.exists %}
                                                                        <li class="item-vertical  css-menu with-sub-menu hover">
                                                                            <p class="close-menu"></p>
                                                                            <a href="{% url 'e_commerce:products' "category" category.pk %}" class="clearfix">
                                                                            <span>{{ category.name }}</span>
                                                                            </a>
                                                                            <div class="sub-menu" data-subwidth="20">
                                                                                <div class="content" >
                                                                                    <div class="row">
                                                                                        <div class="col-sm-12">
                                                                                            <div class="row">
                                                                                                <div class="col-sm-12 hover-menu">
                                                                                                    <div class="menu">
                                                                                                        <ul>
                                                                                                            {% for sous in category.commercescategory_set.all %}
                                                                                                                <li>
                                                                                                                    <a href="{% url 'e_commerce:products' "sub_category" sous.pk %}" class="main-menu">{{ sous.name }}</a>
                                                                                                                </li>
                                                                                                            {% endfor %}
                                                                                                        </ul>
                                                                                                    </div>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </li>
                                                                    {% else %}
                                                                        <li class="item-vertical">
                                                                            <p class="close-menu"></p>
                                                                            <a href="{% url 'e_commerce:products' "category" category.pk %}" class="clearfix">
                                                                            <span>{{ category.name }}</span>
                                                                            </a>
                                                                        </li>
                                                                    {% endif %}
                                                                {% endfor %}
                            {#----------------------------------------------------------------------------------------------#}
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </nav>
                                    </div>
                                </div>
                                <!-- // end Secondary menu -->
                            </div>
                            <!-- Main menu -->
                            <div class="main-menu col-lg-10 col-md-9">
                                <div class="responsive so-megamenu megamenu-style-dev">
                                    <nav class="navbar-default">
                                        <div class=" container-megamenu  horizontal open ">
                                            <div class="navbar-header">
                                                <button type="button" id="show-megamenu" data-toggle="collapse" class="navbar-toggle">
                                                <span class="icon-bar"></span>
                                                <span class="icon-bar"></span>
                                                <span class="icon-bar"></span>
                                                </button>
                                            </div>
                                            <div class="megamenu-wrapper">
                                                <span id="remove-megamenu" class="fa fa-times"></span>
                                                <div class="megamenu-pattern">
                                                    <div class="container-mega">
                                                        <ul class="megamenu" data-transition="slide" data-animationtime="250">
                                                            <li class="with-sub-menu hover">
                                                                <p class="close-menu"></p>
                                                                <a href="#" class="clearfix">
                                                                <strong>Features</strong>
                                                                <img class="label-hot" src="{% static 'ecommerce/image/catalog/menu/new-icon.png' %}" alt="icon items">
                                                                <b class="caret"></b>
                                                                </a>
                                                                <div class="sub-menu" style="width: 50%; right: auto;">
                                                                    <div class="content" >
                                                                        <div class="row">
                                                                            <div class="col-md-6">
                                                                                <div class="column">
                                                                                    <a href="#" class="title-submenu">Shopping pages</a>
                                                                                    <div>
                                                                                        <ul class="row-list">
                                                                                            <li><a href="{% url 'e_commerce:cart' %}">Shopping Cart Page</a></li>
                                                                                            <li><a href="{% url 'e_commerce:checkout' %}">Checkout Page</a></li>
                                                                                            <li><a href="{% url 'e_commerce:compare' %}">Compare Page</a></li>
                                                                                            <li><a href="{% url 'e_commerce:wish_list' %}">Wishlist Page</a></li>
                                                                                        </ul>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-md-6">
                                                                                <div class="column">
                                                                                    <a href="#" class="title-submenu">My Account pages</a>
                                                                                    <div>
                                                                                        <ul class="row-list">
                                                                                            <li><a href="#">Login Page</a></li>
                                                                                            <li><a href="#">Register Page</a></li>
                                                                                            <li><a href="{% url 'e_commerce:my_account' %}">My Account</a></li>
                                                                                            <li><a href="notYet/order-history.html">Order History</a></li>
                                                                                            <li><a href="notYet/order-information.html">Order Information</a></li>
                                                                                        </ul>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </li>
                                                            <li class="with-sub-menu hover">
                                                                <p class="close-menu"></p>
                                                                <a href="#" class="clearfix">
                                                                <strong>Pages</strong>
                                                                <b class="caret"></b>
                                                                </a>
                                                                <div class="sub-menu" style="width: 20%; ">
                                                                    <div class="content" >
                                                                        <div class="row">
                                                                            <div class="col-md-12">
                                                                                <ul class="row-list">
                                                                                    <li><a class="subcategory_item" href="{% url 'e_commerce:faq' %}">FAQ</a></li>
                                                                                    <li><a class="subcategory_item" href="{% url 'e_commerce:sitemap' %}">Site Map</a></li>
                                                                                    <li><a class="subcategory_item" href="{% url 'e_commerce:contact-us' %}">Contact us</a></li>
                                                                                    <li><a class="subcategory_item" href="{% url 'e_commerce:about-us' %}">About Us</a></li>
                                                                                </ul>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </li>
                                                            <li class="with-sub-menu hover">
                                                                <p class="close-menu"></p>
                                                                <a href="#" class="clearfix">
                                                                <strong>Categories</strong>
                                                                <img class="label-hot" src="{% static 'ecommerce/image/catalog/menu/hot-icon.png' %}" alt="icon items">
                                                                <b class="caret"></b>
                                                                </a>
                                                                <div class="sub-menu" style="width: 100%; display: none;">
                                                                    <div class="content">
                                    {#---------------------------------------------------- hot categories ------------------------------------------------------------------------------------------------------------#}
                                                                        <div class="row">
                                                                            <div class="col-sm-12">
                                                                                <div class="row">
                                                                                    {% for category in hot_categories %}
                                                                                        <div class="col-md-3 img img1">
                                                                                            <a href="{% url 'e_commerce:products' "category" category.pk %}"><img width="200px" height="100px" src="{{ category.image.url }}" alt="image {{ category.name }}"></a>
                                                                                        </div>
                                                                                    {% endfor %}
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="row">
                                                                            {% for category in hot_categories %}
                                                                                <div class="col-md-3">
                                                                                    <a href="{% url 'e_commerce:products' "category" category.pk %}" class="title-submenu">{{ category.name }}</a>
                                                                                    <div class="row">
                                                                                        <div class="col-md-12 hover-menu">
                                                                                            <div class="menu">
                                                                                                <ul>
                                                                                                    {% for sous in category.commercescategory_set.all %}
                                                                                                        <li><a href="{% url 'e_commerce:products' "sub_category" sous.pk %}"  class="main-menu">{{ sous.name }}</a></li>
                                                                                                    {% endfor %}
                                                                                                </ul>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            {% endfor %}
                                                                        </div>
                                    {#-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------#}
                                                                    </div>
                                                                </div>
                                                            </li>
                                                            <li class="">
                                                                <p class="close-menu"></p>
                                                                <a href="#" class="clearfix">
                                                                <strong>Accessories</strong>
                                                                </a>
                                                            </li>

                                                            <li class="item-special pull-right">
                                                                <p class="close-menu"></p>
                                                                <a href="#" class="clearfix">
                                                                <strong>Special offers!</strong>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </nav>
                                </div>
                            </div>
                            <!-- //end Main menu -->
                        </div>
                    </div>
                </div>
                <!-- //Header Bottom -->
            </header>
            <!-- //Header Container  -->

            <!-- Main Container  -->
            {% block content %}
            {% endblock %}
            <!-- //Main Container -->

            <!-- Footer Container -->
            <footer class="footer-container typefooter-4">
                <!-- Footer Top Container -->
                <section class="footer-top">
                    <div class="container">
                        <div class="row">
                            <div class="contnet-footer-top">
                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 socials-footer">
                                    <h3 class="title-footer-top">Follow Socials</h3>
                                    <ul class="socials">
                                        <li class="facebook"><a class="_blank" href="https://www.facebook.com/MagenTech" target="_blank"><i class="fa fa-facebook"></i></a>
                                        </li>
                                        <li class="twitter"><a class="_blank" href="https://twitter.com/smartaddons" target="_blank"><i class="fa fa-twitter"></i></a>
                                        </li>
                                        <li class="google_plus"><a class="_blank" href="https://plus.google.com/u/0/+Smartaddons/posts" target="_blank"><i class="fa fa-google-plus"></i></a>
                                        </li>
                                        <li class="pinterest"><a class="_blank" href="https://www.pinterest.com/smartaddons/" target="_blank"><i class="fa fa-skype"></i></a>
                                        </li>
                                        <li class="pinterest"><a class="_blank" href="https://www.pinterest.com/smartaddons/" target="_blank"><i class="fa fa-pinterest"></i></a>
                                        </li>
                                        <li class="pinterest"><a class="_blank" href="https://www.pinterest.com/smartaddons/" target="_blank"><i class="fa fa-youtube"></i></a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12  form-newsletter">
                                    <h3 class="title-footer-top title-footer-bot hidden-xs hidden-md hidden-sm">Sign Up For Newsletter</h3>
                                    <div class="block_content">
                                        <form method="post" id="signup" name="signup" class="form-group form-inline signup send-mail">
                                            <div class="form-group">
                                                <div class="subcribe">
                                                    <button class="btn btn-primary btn-default font-title" type="submit" onclick="return subscribe_newsletter();" name="submit">
                                                    Sign in
                                                    </button>
                                                </div>
                                                <div class="input-box">
                                                    <input type="email" placeholder="Enter your email ..." value="" class="form-control" id="txtemail" name="txtemail" size="55">
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- /Footer Top Container -->
                <section class="footer-middle ">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 col-style">
                                <div class="infos-footer box-footer">
                                    <div class="module">
                                        <h3 class="modtitle">Contact Info</h3>
                                        <ul>
                                            <li class="adres">114, SECTEUR 3, RIAD OULAD MTAA – TEMARA – RABAT.</li>
                                            <li class="mail">
                                                <a href="mailto:espr.maroc@gmail.com">espr.maroc@gmail.com</a>
                                            </li>
                                            <li class="phone">Phone : +212 (0) 537 62 92 23</li>
                                            <li class="phone">Fax : +212 (0) 537 62 92 23</li>
                                            <li class="time">Open time: 8:00AM - 6:00PM</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12 col-style">
                                <div class="box-information box-footer">
                                    <div class="module clearfix">
                                        <h3 class="modtitle">Information</h3>
                                        <div class="modcontent">
                                            <ul class="menu">
                                                <li><a href="{% url 'e_commerce:about-us' %}">About Us</a></li>
                                                <li><a href="{% url 'e_commerce:faq' %}">FAQ</a></li>
                                                <li><a href="#">Warranty </a></li>
                                                <li><a href="#">Support 24/7 page</a></li>
                                                <li><a href="#">Product Support</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12 col-style">
                                <div class="box-service box-footer">
                                    <div class="module clearfix">
                                        <h3 class="modtitle">Services</h3>
                                        <div class="modcontent">
                                            <ul class="menu">
                                                <li><a href="{% url 'e_commerce:contact-us' %}">Contact Us</a></li>
                                                <li><a href="#">Support</a></li>
                                                <li><a href="{% url 'e_commerce:sitemap' %}">Site Map</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 col-style">
                                <div class="module  so-popular-tag box-footer">
                                    <h3 id="popular_tags" class="modtitle"><span>Popular Tags</span></h3>
                                    <div class="modcontent">
                                        <div class="box-content">
                                            {% for tag in tags|slice:":29" %}<a href="{% url 'e_commerce:products' "tag" tag.pk %}">{{ tag.name }}</a>{% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- Footer Bottom Container -->
                <section class="footer-bottom ">
                    <div class="container">
                        <div class="row">
                            <div class="content-footer-bottom">
                                <div class="col-lg-6 col-md-5 col-sm-12 col-xs-12 payment-w hidden-sm">
                                    <img src="{% static 'ecommerce/image/catalog/demo/payment/payment.png' %}" alt="imgpayment">
                                </div>
                                <div class="col-lg-6 col-md-7 col-sm-12 col-xs-12 copyright-w pull-right">
                                    <div class="copyright">© 2018 Made by OUJRI & EL KHAOUA. All Rights Reserved.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- /Footer Bottom Container -->
                <!--Back To Top-->
                <div class="back-to-top"><i class="fa fa-angle-up"></i></div>
            </footer>
            <!-- //Footer Container -->
        </div>
        <!-- End Color Scheme
            ============================================ -->
        <!-- Include Libs & Plugins
            ============================================ -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script type="text/javascript" src="{% static 'ecommerce/js/jquery-2.2.4.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'ecommerce/js/bootstrap.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'ecommerce/js/owl-carousel/owl.carousel.js' %}"></script>
        <script type="text/javascript" src="{% static 'ecommerce/js/themejs/libs.js' %}"></script>
        <script type="text/javascript" src="{% static 'ecommerce/js/unveil/jquery.unveil.js' %}"></script>
        <script type="text/javascript" src="{% static 'ecommerce/js/countdown/jquery.countdown.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'ecommerce/js/dcjqaccordion/jquery.dcjqaccordion.2.8.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'ecommerce/js/datetimepicker/moment.js' %}"></script>
        <script type="text/javascript" src="{% static 'ecommerce/js/datetimepicker/bootstrap-datetimepicker.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'ecommerce/js/jquery-ui/jquery-ui.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'ecommerce/js/modernizr/modernizr-2.6.2.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'ecommerce/js/minicolors/jquery.miniColors.min.js' %}"></script>
        <!-- Theme files
            ============================================ -->
        <script type="text/javascript" src="{% static 'ecommerce/js/themejs/application.js' %}"></script>
        <script type="text/javascript" src="{% static 'ecommerce/js/themejs/homepage.js' %}"></script>
        <script type="text/javascript" src="{% static 'ecommerce/js/themejs/so_megamenu.js' %}"></script>
        <script type="text/javascript" src="{% static 'ecommerce/js/themejs/addtocart.js' %}"></script>
        <script type="text/javascript" src="{% static 'ecommerce/js/themejs/cpanel.js' %}"></script>
        <script type="text/javascript" src="{% static 'ecommerce/js/themejs/my_ajax.js' %}"></script>
        <script type="text/javascript"><!--
                // Check if Cookie exists
                    if($.cookie('display')){
                        view = $.cookie('display');
                    }
                    else{
                        view = 'list';
                    }
                    if(view) display(view);
                //-->
            </script>
    </body>
</html>