{% extends 'ecommerce/base.html' %}
{% load static %}
{% load humanize %}
{% block content %}
<div class="main-container container">
    <ul class="breadcrumb">
        <li><a href="{% url 'e_commerce:index' %}">Home</a></li>
        <li><a href="#">Product Comparison</a></li>
    </ul>
    <div class="row">
        {% if message_error %}
        <div class="alert alert-danger" role="alert">
            <strong>Oh snap!</strong> {{ message_error }}
        </div>
        {% endif %}
        <!--Middle Part Start-->
        <div id="content" class="col-sm-12">
            <h2 class="title">Product Comparison</h2>
            <div class="table-responsive">
                <table class="table table-bordered table-hover">
                    <thead>
                    <tr>
                        <td colspan="{{ count_span }}"><strong>Product Details</strong></td>
                    </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Product</td>
                            {% for el in compare_list %}
                                <td><a href="{% url 'e_commerce:product' el.el.product.pk %}"><b>{{ el.el.product.name }}</a></b></td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <td>Image</td>
                            {% for el in compare_list %}
                                <td class="text-center"><img class="img-thumbnail" title="{{ el.el.product.name }}" alt="Image {{ el.el.product.name }}" width="100px" src="{{ el.el.product.image.url }}"></td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <td>Price</td>
                            {% for el in compare_list %}
                                <td>
                                    {% if el.sale %}
                                    <div class="price"> <span class="price-new">${{ el.sale.new_price|intcomma }}</span> <span class="price-old">${{ el.el.product.price|intcomma }}</span></div>
                                    {% else %}
                                    <div class="price"> <span class="price-new">${{ el.el.product.price|intcomma }}</span></div>
                                    {% endif %}
                                </td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <td>Brand</td>
                            {% for el in compare_list %}
                                <td>{{ el.el.product.brand.name }}</td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <td>Category</td>
                            {% for el in compare_list %}
                                <td>{{ el.el.product.cat.category.name }}</td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <td>Sub Cat</td>
                            {% for el in compare_list %}
                                <td>{{ el.el.product.cat.name }}</td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <td>Availability</td>
                            {% for el in compare_list %}
                                <td>{{ el.stock }}</td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <td>Rating</td>
                            {% for el in compare_list %}
                            <td class="rating">
                                <div class="rating-box">
                                {% for i in "*****" %}
                                    {% if forloop.counter <= el.ratting %}
                                       <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                    {% elif forloop.counter == el.ratting|add:"1" and el.rattingInt < el.ratting %}
                                        <span class="fa fa-stack">
                                            <i style="color: #2677e7" class="fa fa-star-half-empty fa-stack-2x"></i>
                                        </span>
                                    {% else %}
                                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                    {% endif %}
                                {% endfor %}
                                </div>
                            </td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <td>Description</td>
                            {% for el in compare_list %}
                                <td class="description">{% autoescape off %}{{ el.el.product.description.text|slice:":400" }}{% endautoescape %}</td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <td>Information</td>
                            {% for el in compare_list %}
                            <td>
                                <ul class="list-group">
                                    {% for info in el.el.product.commerceinformation_set.all %}
                                    <li class="list-group-item">
                                        {{ info.value }}
                                    </li>
                                    {% endfor %}
                                </ul>
                            </td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <td>Action</td>
                            {% for el in compare_list %}
                            <td>
                                <form id="formAddCart{{ el.el.product.pk }}" method="get" action="{% url 'e_commerce:add_to_cart' %}" data-validate-url="{% url 'e_commerce:add_to_cart' %}"><input type="hidden" name="product" value="{{ el.el.product.pk }}"></form>
                                <input type="button" class="btn btn-primary btn-block" value="Add to Cart"  onclick="cart.add('{{ el.el.product.pk }}', '{{ user.is_authenticated }}', '{{ el.el.product.name }}', '{{ el.el.product.image.url }}', '{% url 'e_commerce:product' el.el.product.pk %}');">
                                <!--<form method="post" style="margin-bottom: 2px" action="{# url 'e_commerce:add_from_compare' #}">
                                    {# csrf_token #}
                                    <input type="hidden" name="product" value="{# el.el.product.pk #}">
                                    <input type="button" class="btn btn-primary btn-block" value="Add to Cart">
                                </form>-->
                                <form method="post" style="margin-top: 2px" action="{% url 'e_commerce:remove_from_compare' %}">
                                    {% csrf_token %}
                                    <input type="hidden" name="product" value="{{ el.el.product.pk }}">
                                    <input type="submit" class="btn btn-danger btn-block" value="Remove">
                                </form>
                            </td>
                            {% endfor %}
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!--Middle Part End -->
    </div>
</div>
{% endblock %}