{% extends 'ecommerce/base.html' %}
{% load static %}
{% load humanize %}
{% block content %}
<div class="main-container">
<div id="content">
<div class="container">
    <div class="box-content1">
        <div class="top-tags">
            <ul>
                <li>
                    <h2>Go Quickly to:</h2>
                </li>
            {#--------------------------------------------- Tags -----------------------------------------------------#}
                {% for tag in tags|slice:":12" %}
                    <li><a href="{% url 'e_commerce:products' "tag" tag.pk %}">{{ tag.name }}{% if forloop.last %}.{% else %}, {% endif %} </a></li>
                {% endfor %}
            {#--------------------------------------------------------------------------------------------------------#}
            </ul>
        </div>
    {#--------------------------------------------- Slides -----------------------------------------------------#}
        {% if slides.exists %}
            <div class="module sohomepage-slider ">
                <div class="yt-content-slider"  data-rtl="yes" data-autoplay="no" data-autoheight="no" data-delay="4" data-speed="0.6" data-margin="0" data-items_column0="1" data-items_column1="1" data-items_column2="1"  data-items_column3="1" data-items_column4="1" data-arrows="yes" data-pagination="yes" data-lazyload="yes" data-loop="no" data-hoverpause="yes">
                    {% for slide in slides %}
                        <div class="yt-content-slide">
                            <a href="{% url 'e_commerce:product' slide.product.pk %}"><img src="{{ slide.image.url }}" alt="slide {{ slide.pk }}" class="img-responsive"></a>
                        </div>
                    {% endfor %}
                </div>
                <div class="loadeding"></div>
            </div>
        {% endif %}
    {#----------------------------------------------------------------------------------------------------------#}
        <div class="block-policy4">
            <ul>
                <li class="item-1">
                    <div class="item-inner">
                        <div class="icon icon1"></div>
                        <div class="content">
                            <a href="#">Free Shipping</a>
                            <p>From $99.00</p>
                        </div>
                    </div>
                </li>
                <li class="item-2">
                    <div class="item-inner">
                        <div class="icon icon2"></div>
                        <div class="content">
                            <a href="#">Money Guarantee</a>
                            <p>30 days Back</p>
                        </div>
                    </div>
                </li>
                <li class="item-3">
                    <div class="item-inner">
                        <div class="icon icon3"></div>
                        <div class="content">
                            <a href="#">Payment Method</a>
                            <p>Secure System</p>
                        </div>
                    </div>
                </li>
                <li class="item-4">
                    <div class="item-inner">
                        <div class="icon icon4"></div>
                        <div class="content">
                            <a href="#">Online Support</a>
                            <p>24 hours on day</p>
                        </div>
                    </div>
                </li>
                <li class="item-5">
                    <div class="item-inner">
                        <div class="icon icon5"></div>
                        <div class="content">
                            <a href="#">100% Sale</a>
                            <p>Secure shopping</p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <!--banners 7-->
    <div class="banners banners7">
        <div class="row">
            <div class="banner1 col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div >
                    <a href="#">
                    <img src="{% static 'ecommerce/image/catalog/banners/home1/banner-11.jpg' %}" alt="image">
                    </a>
                </div>
            </div>
            <div class="banner2 col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="b1">
                    <a href="#">
                    <img src="{% static 'ecommerce/image/catalog/banners/home1/banner-12.jpg' %}" alt="image">
                    </a>
                </div>
                <div class="b2">
                    <a href="#">
                    <img src="{% static 'ecommerce/image/catalog/banners/home1/banner-13.jpg' %}" alt="image">
                    </a>
                </div>
            </div>
            <div class="banner3 col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div >
                    <a href="#">
                    <img src="{% static 'ecommerce/image/catalog/banners/home1/banner-14.jpg' %}" alt="image">
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="featured-sale module clearfix">
        <h3 class="modtitle"><span>Shop Our Featured Sale</span></h3>
        <div class="modcontent">
            <div class="">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4">
                    {# ---------------------------------------------- Featured Sale ---------------------------------------------- #}
                    {% for el in featured_sale %}
                        <div class="bosmarket-text-block clearfix" >
                            <div class="image banners">
                                <div>
                                    <a href="{% url 'e_commerce:products' "category" el.product__cat__category.pk %}">
                                        <img  height="200px" width="100%"
                                              src="{{ el.product__cat__category.image.url }}"
                                              alt="image {{ el.product__cat__category.name }}">
                                    </a>
                                </div>
                            </div>
                            <div class="content-info">
                                <h4>Up to extra {{ el.percentage__max }}% off {{ el.product__cat__category.name }}</h4>
                                <p><a href="{% url 'e_commerce:products' "category" el.product__cat__category.pk %}">View All</a></p>
                            </div>
                        </div>
                        {% if forloop.counter|divisibleby:2 and not forloop.last %}
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4">
                        {% endif %}
                    {% endfor %}
                    {# --------------------------------------------------------------------------------------------------------- #}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!------------------------------------------------------------ daily deals --------------------------------------------------------------------------->
    <div class="deals module clearfix">
        <h3 class="modtitle"><span>Daily Deals</span></h3>
        <div class="so-extraslider">
            <div class="yt-content-slider extraslider-inner products-list" data-rtl="yes" data-pagination="yes" data-autoplay="no" data-delay="4" data-speed="0.6" data-margin="30" data-items_column0="2" data-items_column1="1" data-items_column2="1" data-items_column3="1" data-items_column4="1" data-arrows="no" data-lazyload="yes" data-loop="no" data-buttonpage="top">
                {% for sale in daily_deals %}
                    <div class="item">
                        <div class="product-thumb transition">
                            <div class="row">
                                <div class="inner">
                                    <div class="item-left col-lg-6 col-md-5 col-sm-5 col-xs-12">
                                        <div class="image">
                                            <span class="label-product label-product-sale">-{{ sale.id.percentage }}%</span>
                                            <a href="{% url 'e_commerce:product' sale.id.product.pk %}" target="_self">
                                            <img src="{{ sale.id.product.image.url }}" width="390px" height="390px" alt="image {{ sale.id.product.name }}" class="img-responsive">
                                            </a>
                                            <div class="button-group so-quickview">
                                                <form id="formAddCart{{ sale.id.product.pk }}" method="get" action="{% url 'e_commerce:add_to_cart' %}" data-validate-url="{% url 'e_commerce:add_to_cart' %}"><input type="hidden" name="product" value="{{ sale.id.product.pk }}"></form>
                                                <button class="btn-button addToCart" title="Add to Cart" type="button" onclick="cart.add('{{ sale.id.product.pk }}', '{{ user.is_authenticated }}', '{{ sale.id.product.name }}', '{{ sale.id.product.image.url }}', '{% url 'e_commerce:product' sale.id.product.pk %}');">
                                                    <i class="fa fa-shopping-basket"></i>
                                                    <span>Add to Cart</span>
                                                </button>

                                                <form id="formAddWish{{ sale.id.product.pk }}" method="get" action="{% url 'e_commerce:add_to_wish_list' %}" data-validate-url="{% url 'e_commerce:add_to_wish_list' %}"><input type="hidden" name="product" value="{{ sale.id.product.pk }}"></form>

                                                <button class="btn-button wishlist" type="button" title="Add to Wish List" onclick="wishlist.add('{{ sale.id.product.pk }}', '{{ user.is_authenticated }}', '{{ sale.id.product.name }}', '{{ sale.id.product.image.url }}', '{% url 'e_commerce:product' sale.id.product.pk %}');">
                                                    <i class="fa fa-heart"></i>
                                                    <span>Add to Wish List</span>
                                                </button>

                                                <form id="formAddCompare{{ sale.id.product.pk }}" method="get" action="{% url 'e_commerce:add_to_compare' %}" data-validate-url="{% url 'e_commerce:add_to_compare' %}"><input type="hidden" name="product" value="{{ sale.id.product.pk }}"></form>
                                                <button class="btn-button compare" type="button" title="Compare this Product" onclick="compare.add('{{ sale.id.product.pk }}', '{{ user.is_authenticated }}', '{{ sale.id.product.name }}', '{{ sale.id.product.image.url }}', '{% url 'e_commerce:product' sale.id.product.pk %}');">
                                                    <i class="fa fa-refresh"></i><span>Compare this Product</span>
                                                </button>
                                                <!--quickview-->
                                                <a class="iframe-link btn-button quickview quickview_handler visible-lg" href="{% url 'e_commerce:quick_view' sale.id.product.pk %}" title="Quick view" data-fancybox-type="iframe"><i class="fa fa-eye"></i><span>Quick view</span></a>
                                                <!--end quickview-->
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item-right col-lg-6 col-md-7 col-sm-7 col-xs-12">
                                        <div class="caption">
                                            <h4><a href="{% url 'e_commerce:product' sale.id.product.pk %}" target="_self" title="Ground round enim">{{ sale.id.product.name }}</a></h4>
                                            <div class="rating">
                                             {% for i in "*****" %}
                                                {% if forloop.counter <= sale.ratting %}
                                                   <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                                {% elif forloop.counter == sale.ratting|add:"1" and sale.rattingInt < sale.ratting%}
                                                    <span class="fa fa-stack">
                                                        <i style="color: #2677e7" class="fa fa-star-half-empty fa-stack-2x"></i>
                                                    </span>
                                                {% else %}
                                                    <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                                {% endif %}
                                            {% endfor %}
                                            </div>
                                            <p class="price"> <span class="price-old">${{ sale.id.product.price|intcomma }}</span><br /><span class="price-new">${{ sale.id.new_price|intcomma }}</span>
                                            </p>
                                            {% if sale.id.product.commerceinformation_set.exists %}
                                                <ul class="list-group">
                                                {% for info in sale.id.product.commerceinformation_set.all|slice:':6' %}
                                                    <li class="list-group-item">{{ info.value }}</li>
                                                {% endfor %}
                                                </ul>
                                            {% endif %}
                                            <div class="item-available">
                                                <div class="row">
                                                    <p class="col-xs-6 a1">Available: <b>{{ sale.quantity }}</b>
                                                    </p>
                                                    <p class="col-xs-6 a2">Sold: <b>{{ sale.sold }}</b>
                                                    </p>
                                                </div>
                                                <div class="available"> <span class="color_width" data-title="40%" data-toggle='tooltip' style="width: {{ sale.percent }}%"></span>
                                                </div>
                                            </div>
                                            <!--countdown box-->
                                            <input type="hidden" id="year_end{{ forloop.counter }}" value="{{ sale.id.date_end.year }}">
                                            <input type="hidden" id="month_end{{ forloop.counter }}" value="{{ sale.id.date_end.month }}">
                                            <input type="hidden" id="day_end{{ forloop.counter }}" value="{{ sale.id.date_end.day }}">
                                            <input type="hidden" id="hour_end{{ forloop.counter }}" value="{{ sale.id.date_end.hour }}">
                                            <input type="hidden" id="minute_end{{ forloop.counter }}" value="{{ sale.id.date_end.minute }}">
                                            <input type="hidden" id="second_end{{ forloop.counter }}" value="{{ sale.id.date_end.second }}">
                                            <div class="item-time-w">
                                                <div class="time-title">Hurry Up! Offer Ends In: </div> {{ sale.id.date_end }}
                                                <div class="item-time">
                                                    <div class="item-timer">
                                                        <div class="defaultCountdown-30{{ forloop.counter }}"></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--end countdown box-->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <!----------------------------------------------------------------------------------------------------------------------------------------------------->
    <div class="banners single-baner1 ">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <a href="#"><img src="{% static 'ecommerce/image/catalog/banners/home1/banner-3.jpg'%}" alt=""></a>
            </div>
        </div>
    </div>
    <div class="module feature-product clearfix">
        <h3 class="modtitle"><span>Best Selling Products</span></h3>
        <div class="modcontent clearfix">
            <div class="so-product-external">
                <div class="yt-content-slider owl-product" data-autoplay="no" data-autoheight="no" data-delay="4" data-speed="0.6" data-margin="0" data-items_column0="6" data-items_column1="3" data-items_column2="3" data-items_column3="2" data-items_column4="1" data-arrows="yes" data-pagination="no" data-lazyload="yes" data-loop="no" data-hoverpause="yes" data-buttonpage="top">
                <!--------------------------------------------- best selling products ---------------------------------------------------->
                {% for best in best_selling %}
                    <div class="item">
                        <div class="item-inner product-layout transition">
                            <div class="product-item-container">
                                <div class="left-block">
                                    <div class="product-image-container second_img" >
                                        <a href="{% url 'e_commerce:product' best.product__id.pk %}" target="_self" title="{{ best.product__id.name }}">
                                            <img src="{{ best.product__id.image.url }}" class="img" height="180px" alt="image {{ best.product__id.name }}">
                                        </a>
                                    </div>
                                    {% if best.is_new %}
                                        <div class="box-label"><span class="label-product label-product-new">New</span></div>
                                    {% endif %}
                                    {% if best.sale %}
                                        <div class="box-label"><span class="label-product label-product-sale">-{{ best.sale.percentage }}%</span></div>
                                    {% endif %}
                                    <!--quickview-->
                                    <div class="so-quickview">
                                        <a class="iframe-link btn-button quickview quickview_handler visible-lg" href="{% url 'e_commerce:quick_view' best.product__id.pk %}" title="Quick view" data-fancybox-type="iframe"><i class="fa fa-eye"></i><span>Quick view</span></a>

                                        <form id="formAddWish{{ best.product__id.pk }}" method="get" action="{% url 'e_commerce:add_to_wish_list' %}" data-validate-url="{% url 'e_commerce:add_to_wish_list' %}"><input type="hidden" name="product" value="{{ best.product__id.pk }}"></form>
                                        <button type="button" class="wishlist btn-button" title="Add to Wish List" onclick="wishlist.add('{{ best.product__id.pk }}', '{{ user.is_authenticated }}', '{{ best.product__id.name }}', '{{ best.product__id.image.url }}', '{% url 'e_commerce:product' best.product__id.pk %}');"><i class="fa fa-heart"></i>
                                        </button>

                                        <form id="formAddCompare{{ best.product__id.pk }}" method="get" action="{% url 'e_commerce:add_to_compare' %}" data-validate-url="{% url 'e_commerce:add_to_compare' %}"><input type="hidden" name="product" value="{{ best.product__id.pk }}"></form>
                                        <button type="button" class="compare btn-button" title="Compare this Product " onclick="compare.add('{{ best.product__id.pk }}', '{{ user.is_authenticated }}', '{{ best.product__id.name }}', '{{ best.product__id.image.url }}', '{% url 'e_commerce:product' best.product__id.pk %}');"><i class="fa fa-refresh"></i>
                                        </button>
                                    </div>
                                    <!--end quickview-->
                                </div>
                                <div class="right-block">
                                    <div class="caption">
                                        <div class="rating">
                                            {% for i in "*****" %}
                                                {% if forloop.counter <= best.ratting %}
                                                   <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                                {% elif forloop.counter == best.ratting|add:"1" and best.rattingInt < best.ratting%}
                                                    <span class="fa fa-stack">
                                                        <i style="color: #2677e7" class="fa fa-star-half-empty fa-stack-2x"></i>
                                                    </span>
                                                {% else %}
                                                    <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                        <h4><a href="{% url 'e_commerce:product' best.product__id.pk %}" title="{{ best.product__id.name }}" target="_self">{{ best.product__id.name }}</a></h4>
                                        {% if best.sale %}
                                            <p class="price"><span class="price-old">${{ best.product__id.price|intcomma }}</span><br /><span class="price-new">${{ best.sale.new_price|intcomma }}</span></p>
                                        {% else %}
                                            <br /><div class="price">${{ best.product__id.price|intcomma }}</div>
                                        {% endif %}
                                    </div>
                                    <div class="button-group">
                                        <form id="formAddCart{{ best.product__id.pk }}" method="get" action="{% url 'e_commerce:add_to_cart' %}" data-validate-url="{% url 'e_commerce:add_to_cart' %}"><input type="hidden" name="product" value="{{ best.product__id.pk }}"></form>
                                        <a><button type="button" class="addToCart btn-button" title="Add to cart" onclick="cart.add('{{ best.product__id.pk }}', '{{ user.is_authenticated }}', '{{ best.product__id.name }}', '{{ best.product__id.image.url }}', '{% url 'e_commerce:product' best.product__id.pk %}');">
                                        <span>Add to cart </span>
                                        </button></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                <!------------------------------------------------------------------------------------------------->
                </div>
            </div>
        </div>
    </div>
    <div class="categories module clearfix">
        <h3 class="modtitle"><span>Shop By Categories</span></h3>
        <div class="modcontent">
            <div class="">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-8 col-xs-8">
                    <!----------------------------------------------- Shop By Categories -------------------------------------------------------------->
                    {% for category in categories|slice:":6" %}
                        <div class="bosmarket-text-block clearfix">
                            <div class="image banners">
                                <div>
                                    <a href="{% url 'e_commerce:products' "category" category.pk %}"><img  height="200px" width="100%" src="{{ category.image.url }}" alt="image {{ category.pk }}"/>
                                    </a>
                                </div>
                            </div>
                            <div class="content-info">
                                <a href="{% url 'e_commerce:products' "category" category.pk %}">{{ category.name }}</a>
                            </div>
                        </div>
                        {% if forloop.counter|divisibleby:2 and not forloop.last %}
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4">
                        {% endif %}
                    {% endfor %}
                    <!--------------------------------------------------------------------------------------------------------------------------------->
                    </div>
                </div>
            </div>
        </div>
    </div>
{#----------------------------------------------------------- image pub -----------------------------------------------------------#}
    <div class="banners single-baner2 ">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <a href="#"><img src="{% static 'ecommerce/image/catalog/banners/home1/banner-4.jpg' %}" alt=""></a>
            </div>
        </div>
    </div>
{#---------------------------------------------------------------------------------------------------------------------------------#}
    {#---------------------------------------------------- Featured Products ----------------------------------------------------#}
    {#---------------------------------------------------------------------------------------------------------------------------#}
    <div class="banners banner-8 ">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <a href="#"><img src="{% static 'ecommerce/image/catalog/banners/home1/banner-51.jpg' %}" alt=""></a>
            </div>
            <div class="col-lg-6 col-md-6">
                <a href="#"><img src="{% static 'ecommerce/image/catalog/banners/home1/banner-52.jpg' %}" alt=""></a>
            </div>
        </div>
    </div>
    {#------------------------------------------------ Most Viewed Products ------------------------------------------------#}
    <div class="module most-view">
        <h3 class="modtitle"><span>Most Viewed Products</span></h3>
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                {% for mv in most_viewed %}
                <div class="product" style="width: 100%">
                    <div class="left-block">
                        <a href="{% url 'e_commerce:product' mv.product.pk %}"><img width="90px" height="90px" src="{{ mv.product.image.url }}" alt="image {{ mv.product.name }}"></a>
                    </div>
                    <div class="right-block">
                        <h4 class="title-product"><a href="{% url 'e_commerce:product' mv.product.pk %}">{{ mv.product.name }}</a></h4>
                        <div class="rating">
                        {% for i in "*****" %}
                            {% if forloop.counter <= mv.ratting %}
                               <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                            {% elif forloop.counter == mv.ratting|add:"1" and mv.rattingInt < mv.ratting%}
                                <span class="fa fa-stack">
                                    <i style="color: #2677e7" class="fa fa-star-half-empty fa-stack-2x"></i>
                                </span>
                            {% else %}
                                <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                            {% endif %}
                        {% endfor %}
                        </div>
                        <!--{# if mv.ratting == 0 #}<p style="color:blue;">0 reviews</p>{# endif #}-->
                        <div class="price">${{ mv.product.price|intcomma }}</div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:2 and not forloop.last %}
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
    {#----------------------------------------------------------------------------------------------------------------------#}
</div>
<!----------------------------------------------------------- Marques ----------------------------------------------------------->
<div class="module slider-brands clearfix">
<h3 class="modtitle"><span>Brands</span></h3>
    <div class="container">
        <div class="yt-content-slider contentslider" data-rtl="no" data-loop="yes" data-autoplay="no" data-autoheight="no" data-autowidth="no" data-delay="4" data-speed="0.6" data-margin="0" data-items_column0="7" data-items_column1="6" data-items_column2="3" data-items_column3="2" data-items_column4="1" data-arrows="yes" data-pagination="no" data-lazyload="yes" data-hoverpause="yes">
            {% for brand in brands %}
            <div style="margin: 10px;" class="item">
                <a href="{% url 'e_commerce:products' "brand" brand.pk %}"><img src="{{ brand.image.url }}" alt="brand" width="200px"></a>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
</div>
</div>
{% endblock %}